<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_eco_recicla_app_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_eco_recicla_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eco_recicla_reto_1_grupo_7"
        tools:targetApi="31">
        <activity
            android:name=".ui.DrawerMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CategoriaUI"
            android:exported="false" />
        <activity
            android:name=".ui.PoliticaPrivacidadTerminos"
            android:exported="false" />
        <activity
            android:name=".ui.Login"
            android:exported="false" />
        <activity
            android:name=".ui.Principal"
            android:exported="false" />
        <activity
            android:name=".ui.Consejos"
            android:exported="false" />
        <activity
            android:name=".ui.RegistroUsario"
            android:exported="false" />
        <activity
            android:name=".ui.FormularioRegistroResiduo"
            android:exported="false" />
        <activity
            android:name=".ui.PuntoLimpio"
            android:exported="false" />
        <activity
            android:name=".ui.Statistic"
            android:exported="false" />
        <activity
            android:name=".ui.Categoria"
            android:exported="false" />
        <activity
            android:name=".ui.Index"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>